img{
	height:150px;
	width: 150px;
}
section{
	background-color : tomato;
	color : yellow;
	display : block;	
	border: inset black 4px;
}
ol{
	color:black;
}
ul{
	color:darkgreen;
}

/* Your CSS Code here. */